@model WebApplicationMVC.Models.LoginViewModel
<div class="container">
    <div class="row">
        <form method="post" asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReturnUrl" />
            <fieldset>
                <legend>Login:</legend>
                <div class="mb-3">
                    <label for="email-input" class="form-label">Email:</label>
                    <input asp-for="Email" type="text" id="email-input" class="form-control" placeholder="Name">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="password-input" class="form-label">Password:</label>
                    <input asp-for="Password" type="password" id="password-input" class="form-control" placeholder="password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label>
                        <input asp-for="RememberMe" type="checkbox"> Remember me
                    </label>
                </div>
            </fieldset>
            <input type="submit" value="Save" class="btn btn-primary" />
        </form>
    </div>
</div>
@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}